@import '../../style/_flexboxgrid';

.main {
    @include grid-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 30px;
    perspective:5000px;
	min-height: calc(100vh - 40px - 112px - 61px - 30px);

}