@import '../../style/_flexboxgrid';

.nav {
    &__container {
        @include grid-container;
        padding: 42px 0 39px 0;
    }
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        text-align: center;

    }
    &__title {
        margin: 0;
        font-weight: normal;
        flex: 0 0 calc(100% / 12 * 12);
        max-width: calc(100% / 12 * 12);
        padding-right: 15px;
        padding-left: 15px;
        
    }
    &__reserve {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex: 0 0 calc(100% / 12 * 12);
        max-width: calc(100% / 12 * 12);
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;
    }
    
    &__label {
        position: relative;
        margin-left: 10px;
        cursor:pointer;
        &:before {
            
            content:'';
            display: inline-block;

            width: 20px;
            height: 20px;

            border-radius: 6px;
            background: #e4e4e4;
            
            position: absolute;
            left: -30px;
            top: 0px;
            transition: all 300ms ease-in-out;
        }
        
    }
    &__checkbox {
        opacity: 0;
    }

    &__checkbox:checked + &__label:before {
        content: "\2714";
        text-align: center;
        color: #767676;
    }
    &__label:hover:before {
        background: #FEED7E;
    }
    &__checkbox:focus + &__label:before {
        background: #FEED7E;
    }

    &__filter {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex: 0 0  calc(100% / 12 * 12);
        max-width: calc(100% / 12 * 12);
        padding-right: 15px;
        padding-left: 15px;
        
        
    }
   
}

.hidden {
    /* opacity: 0;
    transform: scale(0.7);
    z-index: 0; */

    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
    
}
.absolute {
    position: absolute;
    z-index: -100;
}


@media (min-width: 576px) {
    .nav {
        &__reserve {
             flex: 0 0 calc(100% / 12 * 6);
             max-width: calc(100% / 12 * 6);
             margin-bottom: 0;
         }
        &__filter {
            flex: 0 0  calc(100% / 12 * 6);
            max-width: calc(100% / 12 * 6);
            
        }
    }
  }
  
  @media (min-width: 992px) {
    .nav {
        &__row {
            text-align: left;
            margin-left: -15px;
            margin-right: -15px;
        }
        &__title {
            flex: 0 0 calc(100% / 12 * 6);
            max-width: calc(100% / 12 * 6);
        }
        &__reserve {
             flex: 0 0 calc(100% / 12 * 3);
             max-width: calc(100% / 12 * 3);
        }
        &__filter {
            flex: 0 0  calc(100% / 12 * 3);
            max-width: calc(100% / 12 * 3);
        }
    }
  }

