@import '../../style/_flexboxgrid';

.nav {
    &__container {
        @include grid-container;
        padding: 42px 0 39px 0;
    }
    &__row {
        //@include grid-row(xs,space-between);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;

    }
    &__title {
        /* @include grid-col((
            sm: 5,
        )); */
        margin: 0;
        font-weight: normal;
        border: 1px solid red;
        flex: 0 0 calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
        padding-right: 15px;
        padding-left: 15px;
        
    }
    &__reserve {
       /*  @include grid-col((
            sm: 3,
        )); */
        border: 1px solid green;
        flex: 0 0 calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
        padding-right: 15px;
        padding-left: 15px;
    }
    
    &__label {
        position: relative;
        margin-left: 10px;
        cursor:pointer;
        &:before {
            
            content:'';
            display: inline-block;

            width: 20px;
            height: 20px;

            border-radius: 6px;
            background: #e4e4e4;
            
            position: absolute;
            left: -30px;
            top: 0px;
            transition: all 300ms ease-in-out;
        }
        
    }
    &__checkbox {
        opacity: 0;
    }

    &__checkbox:checked + &__label:before {
        content: "\2714";
        text-align: center;
        color: #767676;
    }
    &__label:hover:before {
        background: #FEED7E;
    }
    &__checkbox:focus + &__label:before {
        background: #FEED7E;
    }

    &__filter {
        /* @include grid-col((
            sm: 3,
        )); */
        border: 1px solid blue;
        
        flex: 0 0  calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
        padding-right: 15px;
        padding-left: 15px;
        
    }
    &__select {
        
        background: #E4E4E4;
        outline: none;
        border: none;
        border-radius: 6px;
        padding: 8px 20px 7px 10px;
        cursor: pointer;
        width: 220px;


        // убираем стерлку 
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
    &__select::-ms-expand {  /* для IE */ 
        display: none;
    }
   
    &__select  option {
        box-sizing: content-box;
        filter: hue-rotate(125deg);
        padding: 10px;
    }
}

.hidden {
    /* opacity: 0;
    transform: scale(0.7);
    z-index: 0; */

    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
    
}
.absolute {
    position: absolute;
    z-index: -100;
}


@media (min-width: 576px) {
    & {
      
    }
  }
  
  @media (min-width: 768px) {
    & {

    }
  }
  
  @media (min-width: 992px) {
    & {

    }
  }
  
  @media (min-width: 1200px) {
    & {
        
    }
  }

