@import "../../node_modules/normalize.css/normalize.css";
@import '_fonts';
@import '_flexboxgrid.scss';

html {
    font-size: 10px;
}

body {
    font-family: "Actor" Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    background-color: #F2F2F2;
}
h1 {
    font-family: "Adamina" Georgia, serif;
    font-size: 2.4rem;
    color: #f4f4f4;
}
h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 0.9rem;
    color: #3F3F3F;
    font-style: normal;
    font-weight: normal;
}
h4 {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #767676;
    margin: 0;
    text-align: center;
    font-weight: normal;
}
.container {
    transition: 400ms filter;
}
.container_blur {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    filter: blur(15px);
}


