@import '../../style/_flexboxgrid';
.header {
    background-color: #0E4447;
    
    &__container {
        @include grid-container;
        display: flex;
        padding: 15px;
        
    }
    &__title {
        line-height: 3.3rem;
        margin: 0;
        display: inline-block;
    }
    &__logo {
        width: 58px;
        height: 33px;
        margin-right: 12px;
    }
}

@media (min-width: 576px) {
    .header {
        &__container {
            padding: 14px 0;
        }
    }
  }
  
  