@import '../../style/_flexboxgrid';
.header {
    background-color: #0E4447;
    
    .header__container {
        @include grid-container;
        display: flex;
        padding: 14px 0;
    }
    .header__title {
        line-height: 3.3rem;
        //line-height: 6rem;
        margin: 0;
        display: inline-block;
    }
    .header__logo {
        width: 58px;
        height: 33px;
        margin-right: 12px;
    }
}